{{define "character-card"}}
<style>
    .card-view {
        width: 720px;
        height: 1280px;
    }

    .card {
        width: 94%;
        height: 98%;
        border: 20px solid black;
        border-radius: 60px;
        background-color: rgb(58, 58, 58);
    }

    .character-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .character-name h1 {
        color: whitesmoke;
        text-align: right;
        text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        font-size: 70px;
    }

    .character-role {
        display: flex;
        justify-content: flex-end;
        padding-right: 80px;
        padding-top: 10px;
    }

    .character-role h2 {
        color: whitesmoke;
    }

    .character-avatar {
        background-image: url({{.ImgPath}});
        background-repeat: no-repeat;
        width: 90%;
        height: 50%;
    }

    .character-description p {
        padding-left: 20px;
        font-size: 40px;
        color: whitesmoke;
    }
</style>

<section class="card-view">
    <div class="card">
        <div class="character-name">
            <h1>{{.Name}}</h1>
        </div>
        <div class="character-role">
            <h2>{{.Role}}</h2>
        </div>
        <div class="character-avatar">

        </div>
        <div class="character-description">
            <p>{{.DecorationText}}</p>
        </div>
    </div>
</section>
{{end}}