{{define "spell-card"}}
<style>
    .card-view {
        background-image: url({{.ImgPath}});
        background-repeat: no-repeat;
        width: 720px;
        height: 1280px;
    }

    .card {
        width: 94%;
        height: 98%;
        border: 20px solid black;
        border-radius: 60px;
    }

    .spell-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spell-name h1 {
        color: whitesmoke;
        text-align: right;
        text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        font-size: 70px;
    }

    .spell-description p {
        padding-right: 20px;
        font-size: 40px;
        color: whitesmoke;
        text-align: right;
        text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .spell-decoration-text{
        position: absolute;
        top: 1150px;
        left: 5%;
    }

    .spell-decoration-text p {
        font-size: 40px;
        font-style: italic;
        color: whitesmoke;
        text-align: right;
        text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .spell-power {
        display: flex;
        justify-content: flex-end;
    }

    .spell-power h3 {
        margin: 0px 0px;
        padding-right: 60px;
        font-size: 40px;
    }

</style>

<section class="card-view">
    <div class="card">
        <div class="spell-name">
            <h1>{{.Name}}</h1>
        </div>
        <div class="spell-power">
            <h3>Сила: {{.Power}}</h3>
        </div>
        <div class="spell-description">
            <p>{{.Description}}</p>
        </div>
        <div class="spell-decoration-text">
            <p>{{.DecorationText}}</p>
        </div>
    </div>
</section>
{{end}}