body {
    font-family: 'Montserrat-regular';
}

nav ul {
    padding: 0;
}

.nav-item {
    cursor: pointer;
}

.nav-link {
    font-size: large;
    padding: 6px 7px;
}

.nav-link:hover {
    background-color: #0d6efd;
    color: whitesmoke;
    box-shadow: -11px 0px 8px -4px rgba(0, 0, 0, 0.13);
}

.nav-link.active {
    background-color: #0d6efd;
    color: whitesmoke;
    box-shadow: -11px 0px 8px -4px rgba(0, 0, 0, 0.13);
}

.shadow {
    box-shadow: -10px -13px 8px 0px rgba(34, 60, 80, 0.2);
}

/** buttons */

.btn-action-danger:hover {
    background-color: #ff393998;
}

.btn-action-default:hover {
    background-color: #438effb2;
}

.delete-hold-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s;
    border: 1px solid #dc3545;
}

.delete-hold-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #dc3545;
    transition: width 1s linear;
    z-index: -1;
}

.delete-hold-btn.holding {
    border-color: #dc3545;
}

.delete-hold-btn.holding::before {
    width: 100%;
}

/** FONTS */

/* Montserrat-regular */
@font-face {
    font-family: 'Montserrat-regular';
    src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Montserrat-bold */
@font-face {
    font-family: 'Montserrat-bold';
    src: url('/assets/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;

    font-style: normal;
    font-display: swap;
}

/* Montserrat-thin */
@font-face {
    font-family: 'Montserrat-thin';
    src: url('/assets/fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Pacifico-regular */
@font-face {
    font-family: 'Pacifico-regular';
    src: url('/assets/fonts/Pacifico-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Wierd symbols */
@font-face {
    font-family: 'Tataric2_0';
    src: url('/assets/fonts/Tataric2_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Deutsch Gothic Regular */
@font-face {
    font-family: 'Deutsch Gothic Regular';
    src: url('/assets/fonts/Deutsch_Gothic_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Helmswald */
@font-face {
    font-family: 'Helmswald';
    src: url('/assets/fonts/Helmswald.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

