.objects-view {
    overflow: auto;
    height: 1000px;
}

.object-view-element {
    cursor: pointer;
}

.object-view-element .object-label {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}