name: build and release

on:
  push:
    branches: [main]

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.4'

    - name: Build Windows app from Linux
      run: make linux-builder_win-x64

    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ github.sha }}
        name: Build ${{ github.sha }}
        artifacts: "_bin/win-x64/*"