<section class="container-fluid">
    <div class="row">
        <div class="card-body Regular shadow">
            <div class="d-flex flex-wrap gap-3 my-2">
                {{range $key, $label := .}}
                <div class="form-check" style="flex: 0 0 30%;">
                    <input class="form-check-input" type="radio"
                        name="create-card-group" id="radio-{{$key}}"
                        value="{{$key}}" hx-get="/ui/create-card-from"
                        hx-trigger="change" hx-target="#create-card-body"
                        onchange="setFormCardType(this.value)">
                    <label class="form-check-label" for="radio-{{$key}}">
                        {{$label}}
                    </label>
                </div>
                {{end}}
            </div>
            <form hx-post="/form/card" hx-swap="innerHTML"
                hx-target="#create-card-result-message">
                <input type="hidden" name="creating-card-type" id="creating-card-type">
                <div id="create-card-body">
                    
                </div>
            </form>
        </div>
</section>