<div class="list-group d-flex gap-2 mt-2">
    <button class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#modal" data-modal-name="add-image"
        onclick="setModalName(this)"> Добавить изображение </button>
    <button class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#modal" data-modal-name="create-card"
        onclick="setModalName(this)"> Создать
        карту </button>
    <button class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#modal" data-modal-name="remote-storage"
        onclick="setModalName(this)"> Хранилище </button>
</div>

<script>
</script>