<div class="modal fade modal-lg" id="modal" data-bs-backdrop="static"
    tabindex="-1" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div id="body-loader" hx-get="" hx-target="#modal-body" hx-trigger="load-modal-body"></div>
            <div class="modal-body" id="modal-body">
            </div>
        </div>
    </div>
</div>