<div class="col collapse show" id="image-pool-collapse">
    <div data-file-group="{{.FileGroup}}" id="image-pool-view"
        class="row row-cols-4 g-2 overflow-auto" style="max-height: 300px;">
        {{range .Images}}
        <div class="col">
            <img src="/{{$.BasePath}}/{{$.FileGroup}}/{{.FileName}}"
                class="img-fluid rounded w-100 h-100 object-fit-cover"
                data-file-name="{{.FileName}}" onclick="editor.imagePool.onImageClicked(this)">
        </div>
        {{end}}
    </div>
</div>